{% extends "AppBundle::base.html.twig" %}

{% block title %}Connexion{% endblock title %}

{% block body %}
    <h1>Connexion</h1>

    <p class="bg-info">Pas encore inscrit? <a href="{{ path('register') }}">Dépêchez-vous</a> !</p>

    {% if error %}
        <p class="bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    {{ form(form) }}
{% endblock body %}
