{% extends "AppBundle::base.html.twig" %}

{% block title %}Inscription{% endblock title %}

{% block body %}
    <h1>Inscription</h1>

    {{ form(form) }}

    <a href="{{ path('login') }}" class="btn btn-block btn-info">Retour</a>
{% endblock body %}
